body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#notifications {
  background-color: #ddd;
  margin-inline: 10%;
  margin-top: 15px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}

.notifications-title {
  background-color: #aaa;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  padding-block: 5px;
}

.notifications {
  padding-inline: 10px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 30px;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
}

@media(min-width: 768px) {
  .label {
    width: calc(50% - 5px);
  }
}

.label-text {
  flex-shrink: 0;
  margin-right: 5px;
  width: 100px;
  display: flex;
}

.field {
  flex-grow: 1;
  border: 1px solid #888;
  min-width: 0;
  height: 35px;
}

.types-label {
  text-align: center;
  font-size: 0.95em;
  row-gap: 10px;
  width: 100%;
}

.type {
  display: flex;
  align-items: center;
}

.type-label-text {
  width: 60px;
}

.type-option {
  margin-top: -2px;
}

.no-supervisors {
  color: #666;
}

.supervisor {
  width: 100%;
}

.notifications-submit {
  background-color: #0ec10e;
  color: white;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
  margin-inline: auto;
  border: none;
  padding-inline: 12px;
  padding-block: 6px;
}

.notifications-submit:hover, .notifications-submit:focus {
  background-color: #12a612;
}

.notifications-submit:active {
  background-color: #118a11;
}

.notifications-submit:disabled {
  background-color: #c1bfbf;
  cursor: default;
}
