.notifications-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.notifications {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.label {
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
}

.label-text {
  margin-right: 5px;
  width: 100px;
  display: flex;
}

.field {
  flex-grow: 1;
  height: 35px;
}

.types-label {
  text-align: center;
  font-size: 0.95em;
  row-gap: 10px;
  width: 100%;
}

.type {
  display: flex;
  align-items: center;
}

.type-label-text {
  width: 60px;
}

.type-option {
  margin-top: -2px;
}

.phone {
  margin-bottom: 20px;
}

.notifications-submit {
  background-color: #0ec10e;
  color: white;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
  margin-inline: auto;
  border: none;
  padding-inline: 12px;
  padding-block: 6px;
}

.notifications-submit:hover, .notifications-submit:focus {
  background-color: #12a612;
}

.notifications-submit:active {
  background-color: #118a11;
}

.notifications-submit:disabled
